# Created by .ignore support plugin (hsz.mobi)
/live-backend-view/node_modules/
/.idea/
/examing/.idea/
/live-backend-view/.idea/
/examing/examing/.idea/
/examing/examing/examing.iml
/examing/examing/domain/target/
/examing/examing/domain/domain.iml
/examing/examing/utils/target/
/examing/examing/utils/utils.iml
/examing/examing/online_examing/target/
/examing/examing/online_examing/online_examing.iml
